.login_img_section {
  background: linear-gradient(rgba(2,2,2,.7),rgba(0,0,0,.7)),url(/src/assets/logo.png);
}

@media only screen and (min-width: 850px){ form{
  max-width: 384px;
  position: absolute;
  left: 50%; /* relative to nearest positioned ancestor or body element */
  top: 50%; /*  relative to nearest positioned ancestor or body element */
  transform: translate(-50%, -50%); /* relative to element's height & width */
}
}
@media only screen and (max-width: 850px){ form > img{
  width:10px;
}
}
