<div class="w-full max-w-sm mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800">
  <div class="px-6 py-4">
    <h2 class="text-3xl font-bold text-center text-gray-700 dark:text-white">The Islamic nation</h2>
    <h3 class="mt-1 text-xl font-medium text-center text-gray-600 dark:text-gray-200">Welcome Back</h3>
    <p class="mt-1 text-center text-gray-500 dark:text-gray-400">Login or create account</p>
    <form #loginForm="ngForm" (ngSubmit)="OnSubmit(email.value,password.value)">
      <div class="w-full mt-4">
        <input
          class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-500 bg-white border rounded-md dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300"
          matInput placeholder="example@example.com" #email name="email" required />
        <!-- <mat-error *ngIf="email.oninvalid">{{getErrorMessage()}}</mat-error> -->
      </div>
      <div class="w-full mt-4">
        <input matInput [type]="hide ? 'password' : 'text'" #password autocomplete="on" name="password"
          placeholder="password" required
          class="block w-full px-4 py-2 mt-2 text-gray-700 placeholder-gray-500 bg-white border rounded-md dark:bg-gray-800 dark:border-gray-600 dark:placeholder-gray-400 focus:border-blue-400 dark:focus:border-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring focus:ring-blue-300"
          type="password" placeholder="Password" aria-label="Password" />
        <!-- <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button> -->
      </div>

      <div class="flex items-center justify-between mt-4">
        <a href="#" class="text-sm text-gray-600 dark:text-gray-200 hover:text-gray-500">Forget Password?</a>
        <button mat-button class="px-4 py-2 leading-5 text-white transition-colors duration-200 transform bg-red-700 rounded hover:bg-red-600 focus:outline-none" mat-dialog-close>CHIUDI</button>
        <button
          class="px-4 py-2 leading-5 text-white transition-colors duration-200 transform bg-gray-700 rounded hover:bg-gray-600 focus:outline-none"
          type="button" [disabled]="!loginForm.valid" type="submit">Login</button>

      </div>
    </form>
  </div>

  <!-- <div class="flex items-center justify-center py-4 text-center bg-gray-50 dark:bg-gray-700">
      <span class="text-sm text-gray-600 dark:text-gray-200">Don't have an account? </span>

      <a href="signup" class="mx-2 text-sm font-bold text-blue-500 dark:text-blue-400 hover:underline">Register</a>
  </div> -->

</div>
<div *ngIf="isLoginError" class="red-text center error-message">
  <i class="material-icons">error</i> Incorrect email or password
</div>
